.navbar-menu {
  display: flex;
  right: 115px;
  .navbar-item {
    color: #EBEBEB;
    width: auto;
    .navbar-text {
      .MuiTypography-body1 {
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
      }
    }
    .active {
      color: #FFD369;
      .MuiTypography-body1 {
        font-weight: 600;
      }
    }
  }
  .switch-mode {
    width: 70px;
    height: 48.39px;
    .MuiSwitch-track {
      border-radius: 25px;
      background-color: #EBEBEB;
      opacity: 100%;
    }
    .MuiSwitch-thumb {
      position: relative;
      top: 5.46px;
      left: 6px;
    }
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
      border-radius: 25px;
      background-color: #EBEBEB;
      opacity: 100%;
      box-shadow: 0px 2px 10px #787878;
    }
    .MuiSwitch-colorSecondary {
      color: #301D4E;
    }
    .MuiSwitch-colorSecondary.Mui-checked {
      color: #FFD369;
      opacity: none;
    }
  }
}
